/*------- Amex -------*/

.ast0 {
  fill: #2557d6;
}

.st1 {
  fill: #f47216;
}

.st2 {
  fill: #d9222a;
}

.st3 {
  fill: #ee9f2d;
}

.st4 {
  fill: #fff;
}

.st5 {
  fill: #0e4595;
}

/*------- Discover -------*/

.st0 {
  fill: #2557d6;
}

.bst1 {
  fill: #f47216;
}

.st2 {
  fill: #d9222a;
}

.st3 {
  fill: #ee9f2d;
}

.st4 {
  fill: #fff;
}

.st5 {
  fill: #0e4595;
}

/*------- Master Card -------*/

.st0 {
  fill: #2557d6;
}

.st1 {
  fill: #f47216;
}

.cst2 {
  fill: #d9222a;
}

.cst3 {
  fill: #ee9f2d;
}

.cst4 {
  fill: #fff;
}

.st5 {
  fill: #0e4595;
}

/*------- Visa -------*/

.st0 {
  fill: #2557d6;
}

.st1 {
  fill: #f47216;
}

.st2 {
  fill: #d9222a;
}

.st3 {
  fill: #ee9f2d;
}

.st4 {
  fill: #fff;
}

.dst5 {
  fill: #0e4595;
}

/*-------  -------*/